header{
    background-color: navajowhite;
}
h1 
{
 text-align: center;
 color: darkkhaki;
}
ul li{
    display: inline-block;
    font-size: 15px;
    color: darkkhaki;
    text-decoration:none;
    padding-right: 22%;
    
}
article{
font-family: Georgia, 'Times New Roman', Times, serif;
color: olive;
background-color:darkkhaki ;
}